p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h2 {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

h3 {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

h4 {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Noto Sans', sans-serif;
}
div {
    font-family: 'Noto Sans', sans-serif;
}

li {
    float: left;
    
}

li a, .dropbtn {
    display: inline-block;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111111;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: inline-block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #333;
    z-index: 1;
    font-family: 'Noto Sans', sans-serif;
}

.dropdown-content a {
    color: #111111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

a {
    border-style: none;
    padding: 1px;
    font-family: 'Noto Sans', sans-serif;
    text-decoration:underline;
    color: dimgrey;
}

a:link:hover {
    color: green;
}
