
.container {
    display: grid;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    justify-items: center;
    padding: 15px;
    margin: center;
}

.photo1 { 
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2;
    place-self: center;

}

.photo1 > img {
  max-width: 400px;
  height: auto;
}

.status { 
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 2; 
    grid-row-end: 3;
    place-self: top;
}
.review { 
    grid-column-start: 2; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 2;
    place-self: center; 
    place-self: top;
    padding 5%;
    font-family: 'Noto Sans', sans-serif;
}
.map { 
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 3; 
    grid-row-end: 4;
    place-self: center;

}
.links { 
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start: 3; 
    grid-row-end: 4;
    place-self: center;
}
